.imgAbout{
  border-radius: 200px;
}

.Containerabout{
  text-align: center;
}

.headerAbout{
  padding-top: 60px;
  color: #444;
  font-size: 20px;
  margin: auto;
  line-height: 50px;
  cursor: pointer;
  
}
.headerAbout :hover{
  color: aqua;
}

.sun-ContainerAbout{
  max-width: 1200px;
  margin: auto;
  padding: 48px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.teamsAbout{
  margin: 10px;
  padding: 22px;
  max-width: 28%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
}
.teamsAbout :hover{
  background: #ddd;
  border-radius: 12px;
}
.nameAbout{
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.desigAbout{
  font-style: italic;
  color: #888;
}

.aboutAbout{
  margin: 20px 0;
  font-weight: lighter;
  font-size: 22px;
  color: #4e4e4e;
}

.social-links{
  margin: 14px;
}

.social-links a{
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: 0.4s;
}

.social-links a:hover{
  transform: scale(1.9);
}

.social-links a i{
  color: #444
}

@media screen and (max-width:600px) {
  .teamsAbout{
    max-width: 100%;
  }
  
}